@import "ember-bootstrap/bootstrap";

.logo{
  height: 30px;
  border-radius: 50%;
}

.wide-img{
  width: 100%;
  @include media-breakpoint-between(sm, md){
    height: 200px;
  }

  @include media-breakpoint-down(sm){
    height: 100px;
  }

  height: 350px;

  &.index{
    background-size: cover;
    background: url("/assets/images/index_wide.png") no-repeat center 20%;
  }

  &.members{
    background-size: cover;
    background: url("/assets/images/members_wide.png") no-repeat center top;
  }

  &.projects{
    background-size: cover;
    background: url("/assets/images/projects_wide.png") no-repeat center 30%;
  }
}
