{{#bs-navbar type=type backgroundColor="light" collapsed=true onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "root.index" class="navbar-brand"}}
      <img class="logo" src="/assets/images/logo.png"/>
    {{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "root.index"}}Главная страница{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "root.members"}}Участники{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "root.projects"}}Проекты{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="container-fluid">
  {{outlet}}
</div>
